html, body
{
    width: auto;
    height: auto;
    margin: auto;
}

/* HEADER -------------------------------------------------------------*/

header
{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;  
    box-shadow: 1px 1px 6px grey;
}
header img
{
    width: 175px;
    height: 30px;
    margin-bottom: -10px;
}

/* HEADER MENU PAGES-------------------------------------------------------------*/

.arrow_return
{
    font-size: 23px;
    margin-left: -40px;
    padding-right: 43px;
    padding-top: 18px;
}
.arrow_return a
{
    text-decoration: none;
    color: rgb(45, 45, 45);
}

/* SECTION WELCOME -------------------------------------------------------------*/

.welcome
{
    font-family: 'Roboto', sans-serif;
}
.city
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F2F2F2;
}
.city i
{
    padding-top: 18px;
}
.city p
{
    padding-left: 10px;

}
.explore
{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    background-color: rgb(248, 248, 248);
}
.explore h1
{
    text-align: center;
    padding: 10px 40px 0 40px;
    font-size: 1.6em;
}
.explore p
{
    text-align: center;
    font-weight: lighter;
    margin-top: -10px;
    padding: 0 20px 10px 20px;
    font-size: 1.2em;
}
.explore a
{
    text-decoration: none;
}
.explore_button
{
    width: 210px;
    height: 20px;
    margin: 0 80px 0 100px;
    padding: 12px;
    border-radius: 22px;
    text-align: center;
    color: white;
    background: linear-gradient(to bottom, #FF79DA 2%, #9356DC  120%);
}

/* SECTION HOW_IS_WORK -------------------------------------------------------------*/

.how_is_work
{
    font-family: "Roboto", sans-serif;
    padding: 10px 15px 30px 30px;
    background-color: white;
}
h2
{
    margin-left: -30px;
    padding: 20px 0 0 20px;
}
.number_one, .number_two
{
    display: flex;
    padding: 10px 0 10px 0;
    margin-top: 30px;
    background-color: rgb(248, 248, 248);
    border-radius: 20px;
    box-shadow: 1px 1px 10px #dadada;
}
.number_one h3, .number_two h3, .number_three h3
{
    width: 25px;
    height: 18px;
    padding: 4px 0 2px 0;
    margin-left: -14px;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    background-color: #9356DC;
    color: white;
    border-radius: 15px;
}
.number_one i, .number_two i, .number_three i
{
    padding: 16px;
    font-size: 20px;
}
.number_one p, .number_two p, .number_three p
{
    padding-left: 10px;
}
.number_three
{
    display: flex;
    padding: 10px 0 10px 0;
    margin-top: 30px;
    background-color: #f2d6ff;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #dadada;
}
.number_three i
{
    color: #9356DC;
}

/* SECTION RESTAURANTS -------------------------------------------------------------*/

.restaurants
{
    font-family: "Roboto", sans-serif;
    padding: 10px 0 30px 30px;
    background-color: rgb(248, 248, 248);
}
.restaurants_box
{
    display: flex;
    flex-direction: column;
    margin-left: -10px;
}
.restaurants_cards
{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 300px;
}
.restaurants_cards img
{
    width: 370px;
    height: 190px;
    margin: -16px 0 0 -40px;
    border-bottom: 80px solid white;
    border-radius: 18px;
    box-shadow: 5px 5px 21px #c4c0c0;
}
.restaurants_cards h2
{
    width: 60px;
    height: 1px;
    font-size: 0.9em;
    font-weight: bold;
    margin: -275px 0 0 277px;
    padding: 7px 7px 22px 12px;
    color: #30a15f;
    background-color: #99E2D0;
    border-radius: 3px;
}
.restaurants_cards h4
{
    font-size: 1.2em;
    padding: 135px 0 0 10px;
}
.restaurants_cards p
{
    font-size: 1.1em;
    font-weight: lighter;
    margin: -20px 0 0 10px;
}
.heart
{
    font-size: 25px;
    margin: -50px 0 0 325px;
}

/* SECTION MENU -------------------------------------------------------------*/

.container
{
    display: flex;
    flex-direction: column;
}
.restaurant_image img
{
    width: 413px;
    height: 285px;
    margin: -16px 0 0 -40px;
}
.menu
{
    background-color: rgb(248, 248, 248);
    margin-top: -52px;
    border-top-left-radius: 42px;
    border-top-right-radius: 42px;
}
.menu h2
{
    text-align: center;
    padding: 5px 80px 0 0;
    font-family: 'Shrikhand', cursive;
    font-size: 1.7em;
}
.heart_menu
{
    margin: -55px 0 0 340px;
    font-size: 25px;
}

/* STARTERS, DISHES, DESSERTS -------------------------------------------------------------*/

.menu_cards
{
    font-family: "Roboto", sans-serif;
    padding: 20px 0 0 20px;
}
.menu_cards h3
{
    font-weight: lighter;
}
.border
{
    border-bottom: 3px solid #99E2D0;
    width: 40px;
    margin-top: -15px;
}
.starters_cards, .dishes_cards, .desserts_cards
{
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 60px;
    background-color: white;
    border-radius: 18px;
    box-shadow: 4px 4px 16px #c4c0c0;
    margin: 20px 0 20px 0;
}
.starters h4, .dishes h4, .desserts h4
{
    padding: 0 0 0 15px;
    margin-top: 13px;
}
.starters h5, .dishes h5, .desserts h5
{
    margin: -18px 0 0 15px;
    font-size: 0.9em;
    font-weight: lighter;
}
.starters p, .dishes p, .desserts p
{
    padding-left: 310px;
    margin-top: -21px;
}
.dishes_cards_bigger
{
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 80px;
    background-color: white;
    border-radius: 18px;
    box-shadow: 4px 4px 16px #c4c0c0;
    margin: 20px 0 20px 0;
}
.dishes_cards_bigger h4
{
    padding-right: 100px;
}
.dishes_cards_bigger h5
{
    padding-right: 100px;
}

/* ORDER BUTTON MENU PAGES -------------------------------------------------------------*/

aside
{
    font-family: "Roboto", sans-serif;
    background-color: rgb(248, 248, 248);
    padding-bottom: 30px;
}
.order_button
{
    width: 160px;
    height: 20px;
    margin: 40px 80px 40px 110px;
    padding: 10px;
    border-radius: 22px;
    text-align: center;
    color: white;
    background: linear-gradient(to bottom, #FF79DA 2%, #9356DC  120%);
}
.order_button h5
{
    margin-top: 1px;
    font-size: 1em;
    font-weight: bolder;
}
/* FOOTER -------------------------------------------------------------*/

footer
{
    width: auto;
    height: auto;
    background-color: rgb(45, 45, 45);
    padding: 20px 20px 20px 0;
    color: white;
    display: flex;
}
.footer h1
{
    font-size: 1.2em;
    margin-top: -2px;
    padding: 0 10px 0 25px;
    font-family: 'Shrikhand', cursive;
}
.footer ul
{
    list-style-type: none;
    font-family: "Roboto", sans-serif;
}
.footer li
{
    margin: 7px 0 7px -15px;
}
.footer li:nth-child(3), .footer li:nth-child(4)
{
    font-weight: lighter;
}
.footer a
{
    text-decoration: none;
    color: white;
}
#forks, #deal
{
    padding-right: 8px;
    font-weight: bold;
}
#deal
{
    margin-left: -6px;
}